$primary: #3a9acd !default;
$success: #33ca62 !default;
$error: #e83b35 !default;
$border-radius: 3px !default;
$border-color: #eaeaea !default;

$vue-elder-loader-animation-duration: 500ms !default;
